doctype html
html
	head 
		link(rel="stylesheet" type="text/css" href="../css/mycss.css") 
		script(type="text/javascript" src='http://code.jquery.com/jquery-2.2.0.js') 
		script.
			$(document).ready(function (){
				$('#enter').click(function(button){
				   if($('#message').val() == ''){
				   		button.preventDefault(); //this prevents the form from going to the POST handler
						alert('Input can not be left blank');
				   }
				});
			})
	body
		form(name="button", action="/logout", method="get")
			br
			input(id="inputs" type="submit",value="logout")
		div(id='left')
			br
			br
			a(href='/profile') Go back to your profile
			br
			br
			a(href='/user/#{user.id}/posts') Go back to view your on posts
			br
			br
			a(href='/posts') See what other people have shared!
			br
			br
		h3= message
		div(id="right")
			h2 title: #{onePost.title} 
			h2 Post: #{onePost.body}
			h3 created at: #{onePost.createdAt}
			span #[em by] #[b #{onePost.username}]
			br
			hr
			h3 Comments
			if allcomments.length === 0
				h3(style={color:'red'}) There are no comments yet, be the first!				
			each comment in allcomments		
				if comment.username !== user.name
					h3 You have not commented yet, make a comment!
				p #[b #{comment.username}] #[em says: ]#{comment.comment} written on #{comment.createdAt}
			h2 Leave a comment
			h2= text
			form(action="/user/comment/#{onePost.id}" method="post")
				label(for="Comment") Comment
				br
				textarea(type="text" rows='5' cols='30' id="message" name="comment" placeholder="So what do you think?")
				br
				input(type="submit" id="enter" name="test" value="Leave a comment") 