doctype html
html
	head 
		link(rel="stylesheet" type="text/css" href="../css/mycss.css") 
	body
		form(name="button", action="/logout", method="get")
			br
			input(id="inputs" type="submit",value="logout")
			br
			br
		a(href='/profile') Go back to your profile
		-console.log("this is my data on the post.jade"+ data + data.length)
		if data.length===0
			h3(style={color:'red'}) There are no posts yet, create your first one!				
		else
			each post in data
				div(id='post')
					h3 Title: #{post.title}	
					p Post:				
					a(href='/posts/#{post.id}') #{post.body}
					if post.name
						if post.name === user.name
							p(style={color:'red'}) Author: You wrote this :)
						else
							p Author: #{post.name}
					h4 Written on #{post.createdAt}
