doctype html
html
	head
		script(type="text/javascript" src='http://code.jquery.com/jquery-2.2.0.js')
		script.
			$(document).ready(function (){
				$('#enter').click(function(button){
				   if($('#title').val() == '' || $('#body').val() == ''){
				   		button.preventDefault(); //this prevents the form from going to the POST handler
						alert('Input can not be left blank');
				   }
				});
			})	
	body
		h2= message
		form(name="button", action="/posts", method="get")
			br
			input(id="inputs" type="submit",value="view all posts")
			br
		form(name="button", action="/user/#{user.id}/posts", method="get")
			br
			input(id="inputs" type="submit",value="view own posts")
			br
		form(name="button", action="/posts", method="post")
			br
			input(id="title" type="text" name="title" placeholder="What's the tile", autocomplete="off")
			br
			input(id="body" type="text" name="body" placeholder="write your blog here", autocomplete="off", style={border: '1px solid red', color: 'black', background: 'cyan', width: '500px', height:'300px'})
			br
			input(id="enter" type="submit",value="write blog")
			br
		h3= error
		form(name="button", action="/logout", method="get")
			br
			input(id="inputs" type="submit",value="logout")
		h3 Welcome #{user.name}
		h3 your email is: #{user.email}
		h3 You can change your password here if you want
		form(name="button", action="/user/#{user.id}/password", method="post")
			br
			input(id="oldPassword", name="oldPassword" type="text", placeholder="current password")
			br
			input(id="newPassword", name="newPassword" type="password", placeholder="new password") 	
			br
			input(id="inputs" type="submit",value="change password") 